* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inequality, .answer {
    width: 45%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}

.score {
    margin-top: 20px;
    font-size: 18px;
}

#falseButton{
    background-color: red;
}

@media (max-width: 768px) {
    .board {
        flex-direction: column;
    }

    .inequality, .answer {
        width: 100%;
        margin-bottom: 10px;
    }

    .buttons {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
